@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #1f1f1f;
  color: white;
}

/* * {
  border: 1px solid red;
} */

.code {
  margin: 5px;
  padding: 10px;
  background-color: black;

}

a {
  background: linear-gradient(
      to right,
      hsl(150, 100%, 60%),
      hsl(210, 100%, 60%)
    ),
    linear-gradient(
      to right,
      hsl(210, 100%, 60%),
      hsl(150, 100%, 60%)
    
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;

}

.gradient {
  /* background: radial-gradient(
    hsl(150 100% 60%), 
    hsl(200 100% 60%) 
  ) fixed; */
  background: linear-gradient( to left,
    hsl(210 100% 60%),
    hsl(150 100% 60%)
    /* hsl(210 100% 60%) */
  ) ;
  /* background: 
    radial-gradient(
     at center, #3498db, #9b59b6
    ); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
